/*General*/
body {
    width:800px;
    margin:0 auto;
}
/* Typography */
h1{
    text-align: center;
    font-size: 300%;
}
h2 {
    text-align: center;
    font-size: 200%;
}
p {
    text-align: center;
}
/* block styling */

/* Form styling */
main div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url("./images/phone_globe.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
div body{
    border: 5px solid black;
    display: flex;
}
/* Styling the products display */
img {
    width:200px;
    height: 200px;
}